# record video stream from RTSP URL
# remember to install openRTSP or vlc on your machine!
# remove unnecessary section


############################ VLC VERSION #################################

# when specifying running intervals, do not forget to change -d (duration) below to match

# EVERY 1/2 HOUR
## each file: 1/2 hour, retention: 7 days (max 50Gb continuously)
# */30 * * * * ~/rtsp2file/lib/vlc/start_rtsp_recording -c rtsp://127.0.0.1:554/stream -s ~/rtsp2file/history -d 1800 -r 7 > /dev/null 2>&1

# EVERY HOUR
## hourly files, retention 7 days
0 * * * * ~/rtsp2file/lib/vlc/start_rtsp_recording -c rtsp://127.0.0.1:554/stream -s ~/rtsp2file/history > /dev/null 2>&1

############################ VLC VERSION ##################################




############################ OpenRTSP VERSION ##############################

# HOURLY
## executed once a hour, producing half-hour clips
0 * * * * ~/rtsp2file/lib/openRTSP/record_stream.sh rtsp://127.0.0.1:554/stream 3600 1800 >/dev/null 2>&1

# ONCE A DAY
## cleaning old footage (older than 14 days) once a day at midnight
0 0 * * * find ~/rtsp2file/history/ -mtime +14 -exec rm {} \;

############################ OpenRTSP VERSION ##############################